*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    
}
body {
    background-image: url(./../img/background-1280.jpg);
    background-repeat:no-repeat;
    min-height: 100vh; 
   
}

.portada {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer{
    background: black;
    opacity: .6;
    color:white
}

h2 {
    font-weight: 500;
    font-size: 26px;
}


h3 {
        font-weight: 500;
        font-size: 27px;
        color: rgb(114,121,129);
        margin-bottom: 0;
    
}

h5 {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
}

/* .countdown {
    border-radius: 5px;
    border-color: black;  /*  rgb(70,116,182); */
    border-style: solid;
} */

span {
	font-weight: 700;
	font-size: 27px;
    color: rgb(114,121,129);
}

p {
    display: block;
    font-size: 50px;
	font-weight: 700;
    color: rgb(223,150,88);
}

.fa-icon {
    width: 60px;
  }